{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create A New BLog Post
{% endblock %}

{% block content %}
    <main>
        <div class="main">
            <div class="container">
                <div style="max-width: 1080px; margin: auto; padding-bottom: 2rem">
                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <div>
                                <form action="{% url 'add_category' %}" method="POST">
                                    {% csrf_token %}
                                    <p>
                                        <input type="text" id="id_name" name="name" class="form-control">
                                    </p>
                                    <button class="nb_btn nb_btn-secondary">Add Category</button>
                                </form>
                            </div>
                        </div>

                    </div>
                    {% if user.is_authenticated %}
                        <h1 align="center">Add Post</h1>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                            <p>
                                <label for="id_title">{{ form.title.label }}:</label>
                                {{ form.title }}
                            </p>

                            <p>
                                <label for="id_title_tag">{{ form.title_tag.label }}:</label>
                                {{ form.title_tag }}
                            </p>

                            <p>
                                <label for="id_body">{{ form.header_image.label }}:</label>
                                {{ form.header_image }}
                            </p>

                            <p>
                                <label for="id_snippet">{{ form.snippet.label }}:</label>
                                {{ form.snippet }}
                            </p>

                            <p>
                                {{ form.author }}
                            </p>
                            <p>
                                <label for="abuse">{{ form.category.label }}:</label>
                                <select id="abuse" class="form-control" name="category">
                                    {% for item in cat_menu %}
                                        <option name="option" value="{{ item }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p>
                                <label for="tags">{{ form.tags.label }}:</label>
                                <select id="select1" class="selectpicker form-control" multiple name="tags">
                                    {% for tag in tags_list %}
                                        <option value="{{ tag.slug }}">{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p>
                                <label for="myCheckbox" class="btn btn-secondary">New Category</label>
                                <input type="checkbox" id="myCheckbox" hidden>
                            </p>
                            {{ form.tags }}
                            <p>
                                <label for="id_publish">Publish date:</label>
                                <input placeholder="Select date" type="datetime-local" min="{% now "Y-m-d\TH:i:s" %}"
                                       value="{% now "Y-m-d\TH:i:s" %}"
                                       id="id_publish" name="publish" class="form-control">
                            </p>
                            <p>
                                <label for="id_body">Body:</label>
                                {{ form.body }}
                            </p>
                            <button class="nb_btn nb_btn-secondary">Post</button>
                        </form>
                        </div>
                        </div>
                    {% else %}
                        You are not allowed here!
                    {% endif %}
        </div>
    </main>
    <script type="text/javascript">
        window.onload = function () {
            let name = "{{ user.id }}";
            document.getElementById("author_id").value = name;

            $('#myCheckbox').on('change', function (e) {
                if (e.target.checked) {
                    modal.style.display = "block";
                } else {
                    modal.style.display = "none";
                }
            });
            {#var checkBox = document.getElementById("myBtn");#}
            var modal = document.getElementById("myModal");
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                    $('#myCheckbox').prop("checked", false);
                }
            }
        }
        {#$('.selectpicker').selectpicker(#}
        {#    noneResultsText="{0}"#}
        {#);#}
        $('.selectpicker').change(function () {
            var selectedItem = $('.selectpicker').val();
            document.getElementById('id_tags').value = selectedItem;
        });

        $(function () {
            var content = "<input type='text' class='bss-input' onKeyDown='event.stopPropagation();' onKeyPress='addSelectInpKeyPress(this,event)' onClick='event.stopPropagation()' placeholder='Add item'> <span class='glyphicon glyphicon-plus addnewicon' onClick='addSelectItem(this,event,1);'></span>";

            var divider = $('<option/>')
                .addClass('dropdown-divider')
                .data('divider', true);


            var addoption = $('<option/>', {class: 'addItem'})
                .data('content', content)

            $('.selectpicker')
                //.append(divider)
                .prepend(addoption)
                .selectpicker();

        });

        function appendInput() {
            var content = "<input type='text' class='bss-input' onKeyDown='event.stopPropagation();' onKeyPress='addSelectInpKeyPress(this,event)' onClick='event.stopPropagation()' placeholder='Add tag'> <span class='addnewicon' onClick='addSelectItem(this,event,1);'></span>";
            var inputEle = $('.addItem.dropdown-item span.text');
            $('.addItem.dropdown-item span.text').each(function (index, el) {
                if ($(this).text() == '') {
                    $(this).html(content);
                }
            });
        }

        $('body').on('click', '.dropdown-toggle', function (event) {
            event.preventDefault();
            appendInput();
        });

        function addSelectItem(t, ev) {
            ev.stopPropagation();

            var bs = $(t).closest('.bootstrap-select')
            var txt = bs.find('.bss-input').val().replace(/[|]/g, "");
            var txt = $(t).prev().val().replace(/[|]/g, "");
            if ($.trim(txt) == '') return;

            // Changed from previous version to cater to new
            // layout used by bootstrap-select.
            var p = bs.find('select');
            var o = $('option', p).eq(-2);
            o.before($("<option>", {"selected": false, "text": txt}));
            p.selectpicker('refresh');
            appendInput();
        }

        function addSelectInpKeyPress(t, ev) {
            ev.stopPropagation();

            // do not allow pipe character
            if (ev.which == 124) ev.preventDefault();

            // enter character adds the option
            if (ev.which == 13) {
                ev.preventDefault();
                addSelectItem($(t).next(), ev);
            }
        }
    </script>
{% endblock %}