{% load static %}

<footer>

    <div class="nb_container">

        <div class="wrapper">

            <a href="#" class="footer-logo">
                <img src="{% static 'myblog/images/logo-light.svg' %}" alt="DevBlog's Logo" width="150"
                     class="logo-light">
                <img src="{% static 'myblog/images/logo-dark.svg' %}" alt="DevBlog's Logo" width="150"
                     class="logo-dark">
            </a>

            <p class="footer-text">
                Thrilling topics to look out for
            </p>

        </div>

        <div class="wrapper">

            <p class="nb_footer-title">Quick Links</p>

            <ul class="list-unstyled">

                <li>
                    <a href="#" class="nb_footer-link">Advertise with us</a>
                </li>

                <li>
                    <a href="#" class="nb_footer-link">About Us</a>
                </li>

                <li>
                    <a href="#" class="nb_footer-link">Contact Us</a>
                </li>

            </ul>

        </div>

        <div class="wrapper">

            <p class="nb_footer-title">Legal Stuff</p>

            <ul class="list-unstyled">

                <li>
                    <a href="#" class="nb_footer-link">Privacy Notice</a>
                </li>

                <li>
                    <a href="#" class="nb_footer-link">Cookie Policy</a>
                </li>

                <li>
                    <a href="#" class="nb_footer-link">Terms Of Use</a>
                </li>

            </ul>

        </div>

    </div>

    <p class="copyright">
        &copy; Copyright 2022 <a href="#">Team Dual Berettas</a>
    </p>

</footer>
