{% load static %}
{% load custom_tags %}
<div class="blog">
    <h2 class="nb_h2">Latest Posts</h2>
    <div class="blog-card-group">
        {% for post in posts %}
            <div class="blog-card">
                <div class="blog-card-banner">
                    {% if post.header_image %}
                        <img src="{{ post.header_image.url }}"
                             alt="..."
                             width="250" class="blog-banner-img">
                    {% else %}
                        <img src="{% random_image "images/random_images/" %}"
                             alt="Building microservices with Dropwizard, MongoDB & Docker"
                             width="250" class="blog-banner-img">
                    {% endif %}
                </div>

                <div class="blog-content-wrapper">
                    <button class="blog-topic text-tiny">{{ post.category|capfirst }}</button>
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id or user.is_superuser %}
                            <div style="float: right">
                                <a href="{% url 'update_post' post.slug %}" class="blog-topic text-tiny"
                                >Edit</a>
                                <!-- <a href="{% url 'home' %}">Back</a> -->
                                <a href="{% url 'delete_post' post.slug %}" class="blog-topic text-tiny"
                                >Delete</a>
                            </div>
                        {% endif %}
                    {% endif %}

                    <h3>
                        <a href="{% url 'article-detail' post.slug %}" class="nb_h3">
                            {{ post.title }}
                        </a>
                    </h3>

                    <p class="blog-text">
                        {{ post.snippet }}
                    </p>

                    <div class="wrapper-flex">

                        <div class="profile-wrapper">
                            {% if post.author.profile.profile_pic %}
                                <img src="{{ post.author.profile.profile_pic.url }}"
                                     alt="author's avatar" width="50" height="50" style="object-fit: cover">
                            {% else %}
                                <img src="{% static 'myblog/images/default-profile-pic.jpg' %}"
                                     alt="author's avatar" width="50" height="50" style="object-fit: cover">
                            {% endif %}
                        </div>

                        <div class="wrapper">
                            <a href="{% url 'show_profile_page' post.author.profile.id %}"
                               class="nb_h4">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                            <p class="text-sm">
                                <time datetime="{{ post.publish }}">{{ post.publish|date }}</time>
                                <span class="separator"></span>
                                <ion-icon name="time-outline"></ion-icon>
                                <time datetime="{{ post.publish|timesince }}">{{ post.publish|timesince }} ago
                                </time>
                                {#                                {{post.tags.all|join:", "}}#}
                            </p>
                            <div>
                                {% for tag in post.tags.all %}
                                    <a href="{% url 'tag_posts' tag.slug %}" class="hashtag">#{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
