{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <main>
        <div class="main">
            <div class="container">
                <div style="max-width: 1080px; margin: auto">
                    <div class="blog">
                        {% if liked_posts %}
                            <h2 class="nb_h2">&#x2764; Liked posts: {{ liked_posts.all.count }}</h2>
                            {% for post in liked_posts %}
                                <div class="blog-card-group">
                                    <div class="blog-card">
                                        <div class="blog-card-banner">
                                            {% if post.header_image %}
                                                <img src="{{ post.header_image.url }}"
                                                     alt="..."
                                                     width="250" class="blog-banner-img">
                                            {% else %}
                                                <img src="{% random_image "images/random_images/" %}"
                                                     alt="..."
                                                     width="250" class="blog-banner-img">
                                            {% endif %}
                                        </div>

                                        <div class="blog-content-wrapper">

                                            <button class="blog-topic text-tiny">{{ post.category|capfirst }}</button>

                                            <h3>
                                                <a href="{% url 'article-detail' post.pk %}" class="nb_h3">
                                                    {{ post.title }}
                                                </a>
                                            </h3>

                                            <p class="blog-text">
                                                {{ post.snippet }}
                                            </p>

                                            <div class="wrapper-flex">

                                                <div class="profile-wrapper">
                                                    {% if post.author.profile.profile_pic %}
                                                        <img src="{{ post.author.profile.profile_pic.url }}"
                                                             alt="author's avatar" width="50" height="50">
                                                    {% else %}
                                                        <img src="{% static 'myblog/images/default-profile-pic.jpg' %}"
                                                             alt="author's avatar" width="50">
                                                    {% endif %}
                                                </div>

                                                <div class="wrapper">
                                                    <a href="{% url 'show_profile_page' post.author.profile.id %}"
                                                       class="nb_h4">{{ post.author.first_name }} {{ post.author.last_name }}</a>

                                                    <p class="text-sm">
                                                        <time datetime="{{ post.post_date }}">{{ post.post_date }}</time>
                                                        <span class="separator"></span>
                                                        <ion-icon name="time-outline"></ion-icon>
                                                        <time datetime="{{ post.post_date|timesince }}">{{ post.post_date|timesince }}
                                                            ago
                                                        </time>
                                                    </p>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h2>There are no posts liked yet! &#128577</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
